html
    head
        title=title
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
    body
        div(id="app")

        script.
            window.env = "#{env}";

        if env === "dev"
            script(src="http://localhost:4000/bundle.js")
        else
            script(src="/bundle.js")